Package: com.muirey03.brickfix
Name: BrickFix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fix for iMessage bug that can brick your iPhone
Maintainer: Muirey03
Author: Muirey03
Section: Tweaks
